<table>
<tr>
<td>Title: <%= main_page.title %></td><td>Total backlink count: <%= main_page.total_backlink_count %></td><td>Chain length without looping <%= main_page.chain_without_loop_length %></td>
</tr>
</table>
